[init]
        defaultBranch = main
[user]
        email = you@example.com
        name = Your Name
[alias]
        a = add -u
        br = branch
        bra = branch -avv
        ch = checkout
        chb = checkout -b
        chd = !~/.git-scripts/git-checkout-dev
        chm = !~/.git-scripts/git-checkout-default
        co = commit
        d = diff
        dc = diff --cached
        fix = !~/.git-scripts/git-quick-fix
        p = pull
        ph = push
        st = status
[core]
        editor = vim
